.navbar {
    margin-bottom: 0;
}

.navbar .navbar-brand .logo {
    height: 100%;
    position: relative;
}

.content .image {
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    background: #333;
    color: #fff;
    padding-bottom: 20px;
}

.footer .contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.google-map {
    width: 100%;
}

.footer .container .google-map {
    margin-top: 20px;
}

.garage-cover {
    overflow: hidden;
    margin-bottom: 20px;
}

.garage-cover .image {
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.free-busy {
    width: 300px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background: #466bb5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.free-busy .free {
    margin: 10px;
    border-style: solid;
    border-width: 6px;
    border-color: #ffffff;
    color: #ffffff;
    background: #089a05;
}

.free-busy .full {
    margin: 10px;
    border-style: solid;
    border-width: 6px;
    border-color: #ffffff;
    color: #ffffff;
    background: #bf0d1e;
}

.places {
    width: 300px;
    color: #ffffff;
    background: #dff0d8;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}
